*{
  box-sizing: border-box;
  
}

.firstLine{
  grid-area: main;
}
#chartContainer{
  margin:auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display:none;
}

.chart{
  margin: auto; 
}

.notcontainer{
  height: 100vh;
  padding: 10px;
}
.graphContainer{
  display:flex;
  flex-flow: column;
  height:80vh;
  margin: 10px;
}


     #nonbutton{
      position: relative;
      align-self:center;
      background:rgb(255, 156, 120);
      padding:1rem 1rem;
      transition:all .5s ease;
      color:#41403E;
      font-size:1rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      float: center;
      margin-top:3%;
      }
#nonbutton:hover{
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
     
         .linedthin {
           background: #5D5C61;
           border : solid 2px #41403E;
      }
      
    
  







